*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:  ;
    --tw-gradient-via-position:  ;
    --tw-gradient-to-position:  ;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    --tw-contain-size:  ;
    --tw-contain-layout:  ;
    --tw-contain-paint:  ;
    --tw-contain-style:  
}
.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
.mb-2 {
    margin-bottom: 0.5rem
}
.mb-8 {
    margin-bottom: 2rem
}
.min-h-screen {
    min-height: 100vh
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}
.rounded-m {
    border-radius: var(--radius-m)
}
.rounded-s {
    border-radius: var(--radius-s)
}
.border {
    border-width: var(--border-width)
}
.border-background-modifier-border {
    border-color: var(--background-modifier-border)
}
.bg-background-modifier-error {
    background-color: var(--background-modifier-error)
}
.bg-background-modifier-success {
    background-color: var(--background-modifier-success)
}
.bg-background-primary {
    background-color: var(--background-primary)
}
.bg-background-secondary {
    background-color: var(--background-secondary)
}
.bg-interactive-accent {
    background-color: var(--interactive-accent)
}
.bg-background-modifier-error-rgb\/50 {
    background-color: rgba(var(--background-modifier-error-rgb),0.5)
}
.bg-background-modifier-error-rgb\/10 {
    background-color: rgba(var(--background-modifier-error-rgb),0.1)
}
.bg-background-modifier-success-rgb\/10 {
    background-color: rgba(var(--background-modifier-success-rgb),0.1)
}
.p-4 {
    padding: 1rem
}
.p-8 {
    padding: 2rem
}
.p-2 {
    padding: 0.5rem
}
.p-3 {
    padding: 0.75rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.text-ui-larger {
    font-size: var(--font-ui-larger)
}
.text-ui-medium {
    font-size: var(--font-ui-medium)
}
.text-ui-small {
    font-size: var(--font-ui-small)
}
.font-bold {
    font-weight: var(--font-bold)
}
.font-medium {
    font-weight: var(--font-medium)
}
.text-text-accent {
    color: var(--text-accent)
}
.text-text-error {
    color: var(--text-error)
}
.text-text-muted {
    color: var(--text-muted)
}
.text-text-normal {
    color: var(--text-normal)
}
.text-text-on-accent {
    color: var(--text-on-accent)
}
.text-text-success {
    color: var(--text-success)
}
.hover\:bg-interactive-accent-hover:hover {
    background-color: var(--interactive-accent-hover)
}
